<form [formGroup]="petProfileForm" class="form">
    <!-- Validation Error Message -->
    <div class="validation-error" *ngIf="showValidationErrors && !petProfileForm.valid">
        <p>{{'petForm.errorMessage' | translate }}</p>
    </div>

    <!-- Type Selection -->
    <section class="form__species">
        <mat-button-toggle-group aria-label="species" formControlName="species" class="toggle-btn">
            <mat-button-toggle value="cat">{{'petForm.cat' | translate }}</mat-button-toggle>
            <mat-button-toggle value="dog">{{'petForm.dog' | translate }}</mat-button-toggle>
        </mat-button-toggle-group>
    </section>

    <!-- Name Input -->
    <section class="form__name">
        <app-custom-input label="Name" formFieldName="name" type="text"
            [customFormControl]="getFormControl('name')" placeholder="{{'petForm.namePlaceHolder' | translate }}" />
    </section>

    <!-- Birthday Input -->
    <section class="form__birthday">
        <app-date-picker 
            label="{{'petForm.birthdayLabel' | translate }}"
            [customFormControl]="getFormControl('birthday')"
        />
    </section>


    <!-- Weight Input -->
    <section class="form__weight">
        <app-custom-input 
        label="{{'petProfile.weight' | translate }}" 
        formFieldName="weight" 
        type="text"
        [customFormControl]="getFormControl('weight')" 
        placeholder="Ex. 5.8" 
        />

        <!-- Unit Selection -->
        <div class="form__weight__unit">
            <mat-button-toggle-group aria-label="weight_unit" formControlName="weight_unit">
                <mat-button-toggle value="lb">lb</mat-button-toggle>
                <mat-button-toggle value="kg">kg</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </section>

    <!-- Food Allergies Input-->
    <section class="form__allergies">
        <app-custom-input 
            label="{{'petProfile.allergies' | translate }}" 
            formFieldName="allergies" 
            type="text"
            [customFormControl]="getFormControl('allergies')" 
            placeholder="{{'petForm.allergyPlaceHolder' | translate }}" 
        />
    </section>

    <!-- Medication Input -->
    <section class="form__medications">
        <p class="form__medications__title">{{'petProfile.medications' | translate }} :</p>
        <ul formArrayName="medications" class="form__medications__content">
            @for (med of medications.controls; track med; let idx = $index){
            <li [formGroupName]="idx" class="form__medications__content__item">
                <app-custom-input 
                    label="{{'petForm.medName' | translate }}" 
                    formFieldName="med_name" 
                    type="text"
                    [customFormControl]="getMedItemControl(idx, 'med_name')" 
                    placeholder="{{'petForm.medNamePlaceholder' | translate }}" 
                />
                <app-custom-input 
                    label="{{'petForm.medDir' | translate }}" 
                    formFieldName="directions" 
                    type="text"
                    [customFormControl]="getMedItemControl(idx, 'directions')" 
                    placeholder="{{'petForm.medDirPlaceHolder' | translate }}" 
                />

                <button type="button" (click)="removeMedication(idx)" class="btn">
                    <mat-icon>cancel</mat-icon>
                </button>
            </li>
            }
        </ul>
        <button 
            type="button" 
            (click)="addMedication()" 
            class="btn form__medications__btn"
            [disabled]="isAddDisabled()"
        >
            <mat-icon>add_circle</mat-icon>
            <span>{{'petForm.addMedBtnText' | translate }}</span>
        </button>
    </section>

    <!-- Goal Selection -->
    <section class="form__goal">
        <label for="goal" class="form__goal__title">{{'petForm.goalSectionTitle' | translate }} :</label>
        <div class="form__goal__content">
            <div class="form__goal__content__target">
                <app-custom-selection 
                    label="{{'petProfile.goal' | translate }}"
                    formFieldName="goal"
                    [selectFormControl]="getFormControl('goal')"
                    [selectionArr]="goalSelection"
                />
                <p>{{'petProfile.goalSuffix' | translate }}</p>
            </div>

            <!-- Target Weight Input -->
            <div class="form__goal__content__weight">
                <app-custom-input 
                    label="{{'petForm.targetWeight' | translate }}" 
                    formFieldName="target_weight" 
                    type="text"
                    [customFormControl]="getFormControl('target_weight')" 
                    placeholder="{{'petForm.targetWeightPlaceHolder' | translate }}" 
                />
                <p>{{ getFormControl('weight_unit').value }}</p>
            </div>
        </div>

    </section>

    <!-- Dairy Calories Setting -->
    <section class="form__calories">
        <p class="form__calories__title">{{'petProfile.dailyCalories' | translate }} :</p>
        <div class="form__calories__content">
            <p>
                {{'petForm.dailyCaloriesNote' | translate }}
                <a href="https://vmc.vet.osu.edu/services/companion-animal-nutrition-support-service">
                    <mat-icon>info</mat-icon>
                </a>
            </p>
            
            <!-- TODO: attach suggested factor Table -->
          

            <!-- Factor Input -->
            <app-custom-input 
                label="{{'petForm.factor' | translate }}" 
                formFieldName="factor" 
                type="text"
                [customFormControl]="getFormControl('factor')" 
                placeholder="{{'petForm.factorPlaceHolder' | translate }}" 
            />

            <!-- Calories Input -->
            <p>{{'petForm.caloryInputNote' | translate }}</p>

            <div class="form__calories__content__daily">
                <app-custom-input 
                    label="{{'petForm.targetCalories' | translate }}" 
                    formFieldName="daily_calories" 
                    type="text"
                    [customFormControl]="getFormControl('daily_calories')" 
                    placeholder="{{'petForm.targetCaloriesPlaceHolder' | translate }}" 
                />
                <p>kcal / day</p>
            </div>

        </div>
    </section>

</form>
