<mat-form-field class="custom-input">
    <mat-label>{{ label }}</mat-label>
    <input [type]="type" matInput [formControl]="customFormControl" [placeholder]="placeholder" [errorStateMatcher]="errorStateMatcher">
    @if (customFormControl.hasError('required')) {
        <mat-error>{{ label }} is <strong>required</strong></mat-error>
    }
    @if ( 
        customErrorMessage && 
        customFormControl.hasError(formFieldName) && 
        !customFormControl.hasError('required')
        ) {
            <mat-error>{{ customErrorMessage }}</mat-error>
        }
</mat-form-field>
