<div class="pets">
    <h1 class="heading-1">{{ pet().name}}</h1>
    <button (click)="onEdit()" class="responsive-icon"><mat-icon>settings</mat-icon></button>

    @if (showEditPage()){
        <app-pet-form />
    }
    <div class="pet-profile-1">
        <img [src]="imagePath()" [alt]="pet().name" class="pet-profile-1__img">
        <div class="pet-profile-1__summary">
            <p>Age :</p>
            <p>
                {{ age() }}
                <span>years</span>
            </p>

            <p>Weight :</p>
            <p>
                {{ pet().weight }} 
                <span>{{ pet().weight_unit }}</span>
            </p>
        
            <p>Goal :</p>
            <p>
                {{ pet().goal }}
                <span>weight</span>
            </p>
        </div>
    </div>
    <!-- TODO: make a line graph -->
    <app-card [title]="graphTitle()" class="graph-component">
        <div class="line-graph"></div>
    </app-card>
    <div class="pet-profile-2">
        <div class="pet-profile-2__calories">
            <h2 class="heading-2">Daily Calories :</h2>
            <p>
                360
                <span>kcal</span>
            </p>
        </div>
       
        <div class="pet-profile-2__medications">
            <h2 class="heading-2 mb-sm">Medications :</h2>
            @if(pet().medications){
                <ul>
                    @for(item of pet().medications; track item.meds_id){
                        <li>
                            {{ item.meds_name }}
                            <span>{{ item.directions }}</span>
                        </li>
                    }
                </ul> 
            } @else {
                <p>None</p>
            }
        </div>
       
        <div class="pet-profile-2__allergies">
            <h2 class="heading-2 mb-sm">Food Allergy :</h2>
            <p>{{ pet().allergies }}</p>
        </div>
        
        @if (pet().notes){
            <div class="pet-profile-2__notes">
                <h2 class="heading-2 mb-sm">Personality Notes :</h2>
                <p class="pet-profile-2__notes__content">{{ pet().notes }}</p>
            </div>
        }
    </div>
</div>


