<!-- Edit Profile Form -->
@if (pet()){
<app-slide-panel [panelId]="panelId" title="Edit">
    <app-pet-form [pet]="pet()" [petId]="id()" (formValidationChange)="onFormValidityChange($event)"
        (formGroupData)="onFormGroupChange($event)" />
</app-slide-panel>
}

<div class="pets">
    <h1 class="heading-1">{{ pet().name}}</h1>

    <!-- Edit button -->
    <button (click)="onEdit('petProfile')" class="responsive-icon">
        <mat-icon>settings</mat-icon>
    </button>

    <!-- Main pet profile -->
    <div class="pet-profile-1">
        <img [src]="imagePath()" [alt]="pet().name" class="pet-profile-1__img">
        <div class="pet-profile-1__summary">

            <!-- Age -->
            <p>{{'petProfile.age' | translate }} :</p>
            <p>
                @if(age().years > 0) {
                <span>
                    {{ age().years }}
                    @if(age().years > 1) {
                        <span>{{'petProfile.years' | translate }}</span>
                    }
                    @else {
                        <span>{{'petProfile.year' | translate }}</span>
                    }
                </span>
                }

                <span>
                    {{ age().months }}
                    @if(age().months > 1) {
                        <span>{{'petProfile.months' | translate }}</span>
                    }
                    @else {
                        <span>{{'petProfile.month' | translate }}</span>
                    }
                </span>
            </p>

            <!-- Weight -->
            <p>{{'petProfile.weight' | translate }} :</p>
            <p>
                {{ pet().weight }}
                <span>{{ pet().weight_unit }}</span>
            </p>

            <!-- Goal weight -->
            <p>{{'petProfile.goal' | translate }} :</p>
            <p>
                {{ `petProfile.${pet().goal.toLowerCase()}` | translate }}
                <span>{{'petProfile.goalSuffix' | translate }}</span>
            </p>
        </div>
    </div>

    <!-- TODO: make a line graph -->
    <app-card [title]="graphTitle()" class="graph-component">
        <div class="line-graph">
        </div>
    </app-card>

    <!-- Health Profile for pets -->
    <div class="petProfile-2">

        <!-- Daily calories suggestion amount -->
        <div class="petProfile-2__calories">
            <h2 class="heading-2">{{'petProfile.dailyCalories' | translate }} :</h2>
            <p>
                360
                <span>kcal</span>
            </p>
        </div>

        <!-- Pet's taken medicine -->
        <div class="pet-profile-2__medications">
            <h2 class="heading-2">{{'petProfile.medications' | translate }} :</h2>
            <ul>
                @if(pet().medications){
                @for(item of pet().medications; track item.med_id){
                <li>
                    {{ item.med_name }},
                    <span>{{ item.directions }}</span>
                </li>
                }
                } @else {
                <li>{{'petProfile.noMedication' | translate }}</li>
                }
            </ul>
        </div>

        <!-- Pet's food allergy list -->
        <div class="pet-profile-2__allergies">
            <h2 class="heading-2">{{'petProfile.allergies' | translate }} :</h2>
            <p>{{ pet().allergies }}</p>
        </div>

        <!-- Pet's personality notes from owner -->
        @if (pet().notes){
        <div class="pet-profile-2__notes">
            <h2 class="heading-2">{{'petProfile.personalityNote' | translate: {name: pet().name} }} :</h2>
            <p class="pet-profile-2__notes__content">{{ pet().notes }}</p>
        </div>
        }
    </div>
</div>