<div class="feedPage">
    <div class="feedPage__topLabel">
        <div class="feedPage__topLabel__nameGroup">
            <h2>{{ petName }}</h2>
        </div>
        <h3 class="feedPage__topLabel__date">{{today | date:'mediumDate' }}</h3>
    </div>
   

    <!-- TODO: current status component-->
    <app-card class="feedPage__currentStatus">
        <app-current-feed-status />
    </app-card>


    <!-- Feeding Detail -->
    <app-card class="feedPage__feedingDetail">
        <!-- Already eaten food -->
        <app-calorie-counter 
            title='Today, {{petName}} already ate ...'
        />

        <!-- Food that will be fed -->
        <app-calorie-counter 
            title='Today, {{petName}} will eat ...'
        />

        <p>
            Requires {{ requiredCalories }} more kcal
        </p>

        <h2>Total: {{ totalCalories }} kcal</h2>
    </app-card>
 
    
    

    <!-- Food Selection -->
    <div class="feedPage__foodOption">
        <h2 class="feedPage__foodOption__title">Add Food / Treats</h2>
        <ul class="feedPage__foodOption__list">
            <li><app-food-box name="Churu" foodType="treat"/></li>
            <li><app-food-box name="Purina One" foodType="food"/></li>
            <li><app-food-box name="Purina One" foodType="food"/></li>
            <li><app-food-box name="Purina One" foodType="food"/></li>
        </ul>
    
    </div>
    
</div>

