<form [formGroup]="petProfileForm" (ngSubmit)="onSubmit()" class="form">
    <!-- Type Selection -->
    <section class="form__species">
        <mat-button-toggle-group aria-label="species" formControlName="species" class="toggle-btn">
            <mat-button-toggle value="cat">Cat</mat-button-toggle>
            <mat-button-toggle value="dog">dog</mat-button-toggle>
        </mat-button-toggle-group>
    </section>

    <!-- Name Input -->
    <section class="form__name">
        <app-custom-input label="Name" formFieldName="name" type="text"
            [customFormControl]="getFormControl('name')" placeholder="Pet Name" />
    </section>

    <!-- Birthday Input -->
    <section class="form__birthday">
        <mat-form-field>
            <mat-label>Choose a birthday</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthday">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </section>


    <!-- Weight Input -->
    <section class="form__weight">
        <app-custom-input 
        label="Weight" 
        formFieldName="weight" 
        type="text"
        [customFormControl]="getFormControl('weight')" 
        placeholder="Ex. 5.8" 
        />

        <!-- Unit Selection -->
        <div class="form__weight__unit">
            <mat-button-toggle-group aria-label="weight_unit" formControlName="weight_unit">
                <mat-button-toggle value="lb">lb</mat-button-toggle>
                <mat-button-toggle value="kg">kg</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </section>

    <!-- Food Allergies Input-->
    <section class="form__allergies">
        <app-custom-input 
            label="Allergies" 
            formFieldName="allergies" 
            type="text"
            [customFormControl]="getFormControl('allergies')" 
            placeholder="Ex. milk, wheat" 
        />
    </section>

    <!-- Medication Input -->
    <section class="form__medications">
        <p class="form__medications__title">Medications :</p>
        <ul formArrayName="medications" class="form__medications__content">
            @for (med of medications.controls; track med; let idx = $index){
            <li [formGroupName]="idx" class="form__medications__content__item">
                <app-custom-input 
                    label="Medicine Name" 
                    formFieldName="med_name" 
                    type="text"
                    [customFormControl]="getMedItemControl(idx, 'med_name')" 
                    placeholder="Ex. Atopica" 
                />
                <app-custom-input 
                    label="Directions" 
                    formFieldName="directions" 
                    type="text"
                    [customFormControl]="getMedItemControl(idx, 'directions')" 
                    placeholder="Ex. 1 pill / day" 
                />

                <button type="button" (click)="removeMedication(idx)" class="btn">
                    <mat-icon>cancel</mat-icon>
                </button>
            </li>
            }
        </ul>
        <button 
            type="button" 
            (click)="addMedication()" 
            class="btn form__medications__btn"
            [disabled]="isAddDisabled()"
        >
            <mat-icon>add_circle</mat-icon>
            <span>Add Medicine</span>
        </button>
    </section>

    <!-- Goal Selection -->
    <section class="form__goal">
        <label for="goal" class="form__goal__title">Weight Management :</label>
        <div class="form__goal__content">
            <div class="form__goal__content__target">
                <app-custom-selection 
                    label="Goal"
                    formFieldName="goal"
                    [selectFormControl]="getFormControl('goal')"
                    [selectionArr]="goalSelection"
                />
                <p>weight</p>
            </div>

            <!-- Target Weight Input -->
            <div class="form__goal__content__weight">
                <app-custom-input 
                    label="Target Weight" 
                    formFieldName="target_weight" 
                    type="text"
                    [customFormControl]="getFormControl('target_weight')" 
                    placeholder="Ex. 5" 
                />
                <p>{{ getFormControl('weight_unit').value }}</p>
            </div>
        </div>

    </section>

    <!-- Dairy Calories Setting -->
    <section class="form__calories">
        <p class="form__calories__title">Daily Calories :</p>
        <div class="form__calories__content">
            <p>
                We use Resting Energy Requirement (RER) and factor to calculate daily calories
                <a href="https://vmc.vet.osu.edu/services/companion-animal-nutrition-support-service">
                    <mat-icon>info</mat-icon>
                </a>
            </p>
            
            <!-- TODO: suggested factor Table -->
            <p>
                suggested factor Table
            </p>

            <!-- Factor Input -->
            <app-custom-input 
                label="Factor" 
                formFieldName="factor" 
                type="text"
                [customFormControl]="getFormControl('factor')" 
                placeholder="Ex. 1.2" 
            />

            <!-- Calories Input -->
            <div class="form__calories__content__daily">
                <!-- <p>Displayed calories are automatically calculated based on the factor.</p> -->
                <app-custom-input 
                    label="Target Daily Calories" 
                    formFieldName="daily_calories" 
                    type="text"
                    [customFormControl]="getFormControl('daily_calories')" 
                    placeholder="Ex. 200" 
                />
                <p>kcal / day</p>
            </div>
        </div>
    </section>

    <button class="btn form__btn">Submit</button>

</form>
